

#hero{
    display:table;
    width: 100%;
    height: 100vh;
    background: url(./../images/food.webp) top center;
    background-size: cover;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}
 .hero-logo{
    margin:20px;
    opacity: 0.6;
    max-width: 25%;
    margin-left: 530px;

}
.hero-container{
    background: rgba(18,19,19, 0.4);
    display: table-cell;
    margin:0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}
 h1{
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 768px){
     h1{
        font-size: 28px;
        line-height: 36px;
    }
}
 h2{
    color:#fff;
    margin-bottom: 50px;
}
@media (max-width: 768px){
 h2{
        font-size:24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
}
 .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
} 
.main-1{
    background: #eb9a03;
    border: 2px solid #eb9a03;
    color:#000;
    font-weight: bold;
}
.main-1:hover{
    background: none;
    border: 2px solid #fff;
    color:#fff;
    text-decoration: none;
}
.main-2{
    border: 2px solid #fff;
    color:#fff;
}
 .main-2:hover{
    background: #eb9a03;
    border: 2px solid #eb9a03;
    text-decoration: none;
}